:root {
  --primary: #0042A6;
  --secondary: #EAFE07;
  --alert: #EE293D;
  --dark: #07173F;
  --white: #fff;
}

body {
  font-family: "Fira Sans",sans-serif;
  background-color: var(--primary);
  color: var(--white);
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--secondary)
}

h1{
  padding: 0 10px;
}

@media screen and (min-width:768px){
  .App{
    align-items: center;
    padding: 10px 50px;
  }
}
